In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv('weather_data.csv')
df

        day temperature windspeed     event
0  01/01/17        32 F     6 mph      Rain
1  01/02/17      -99999     7 mph     Sunny
2  01/03/17          28    -99999      Snow
3  01/04/17      -99999         7  No Event
4  01/05/17        32 C    -99999      Rain
5  01/06/17          31         2     Sunny
6  01/06/17          34         5  No Event

In [2]:
new_df = df.replace(-99999, np.NAN)    # df.replace([-99999, -88888, 0], np.NAN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

-> Replacment based on columns

In [4]:
new_df = df.replace({
    'temperature': -99999,
    'windspeed': -99999,
    'event': '0'
}, np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0    NaN
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0    NaN

-> Replacement using Mapping of Dictionary

In [6]:
new_df = df.replace({
    -99999: np.NaN,
    '0':'Sunny'
})
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0  Sunny
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0  Sunny

In [15]:
df

        day temperature windspeed     event
0  01/01/17        32 F     6 mph      Rain
1  01/02/17      -99999     7 mph     Sunny
2  01/03/17          28    -99999      Snow
3  01/04/17      -99999         7  No Event
4  01/05/17        32 C    -99999      Rain
5  01/06/17          31         2     Sunny
6  01/06/17          34         5  No Event

-> It replaces all the aplhabets between A-Z and a-z

In [16]:
new_df = df.replace('[A-Za-z]','', regex= True)
new_df

        day temperature windspeed event
0  01/01/17         32         6
1  01/02/17      -99999        7
2  01/03/17          28    -99999
3  01/04/17      -99999         7
4  01/05/17         32     -99999
5  01/06/17          31         2
6  01/06/17          34         5

-> Using Dictionary we can replace only the needed columns

In [17]:
new_df = df.replace({
    'temperature':'[A-Za-z]',
    'windspeed':'[A-Za-z]'
},'', regex= True)
new_df

        day temperature windspeed     event
0  01/01/17         32         6       Rain
1  01/02/17      -99999        7      Sunny
2  01/03/17          28    -99999      Snow
3  01/04/17      -99999         7  No Event
4  01/05/17         32     -99999      Rain
5  01/06/17          31         2     Sunny
6  01/06/17          34         5  No Event

In [18]:
df = pd.DataFrame({
    'score': ['exceptional', 'average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
    })
df

         score  student
0  exceptional      rob
1      average     maya
2         good  parthiv
3         poor      tom
4      average   julian
5  exceptional    erica

In [19]:
new_df = df.replace(['poor', 'average', 'good', 'exceptional'], [1,2,3,4])
new_df

   score  student
0      4      rob
1      2     maya
2      3  parthiv
3      1      tom
4      2   julian
5      4    erica