# **Read to CSV**

In [2]:
import pandas as pd
df = pd.read_csv('stock_data.csv')
df

  stock data     Unnamed: 1 Unnamed: 2 Unnamed: 3     Unnamed: 4
0    tickers            eps    revenue      price         people
1      GOOGL          27.82         87        845     larry page
2        WMT           4.61        484         65           n.a.
3       MSFT             -1         85         64     bill gates
4       RIL   not available         50       1023  mukesh ambani
5       TATA            5.6         -1       n.a.     ratan tata

# **Added a new row in csv file**
**-> Below are the two methods to remove the extra added row**

In [3]:
df = pd.read_csv('stock_data.csv', skiprows= 1)
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [4]:
df = pd.read_csv('stock_data.csv', header= 1)
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

# **No Header in CSV**
**-> It assigns value to the header**

In [5]:
df = pd.read_csv('stock_data.csv', header= None)
df

       0              1    2     3              4
0  GOOGL          27.82   87   845     larry page
1    WMT           4.61  484    65           n.a.
2   MSFT             -1   85    64     bill gates
3   RIL   not available   50  1023  mukesh ambani
4   TATA            5.6   -1  n.a.     ratan tata

**-> To give naming use names**

In [6]:
df = pd.read_csv('stock_data.csv', header= None, names=['tickers','eps','revenue','price','people'])
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [7]:
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

**-> Replacing null values with NaN**

In [8]:
df = pd.read_csv('stock_data.csv', na_values=["not available","n.a."])
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

**-> Replacing null values with NaN with Dictionary**

We don't wanna change the eps value of -1 to NaN so

In [11]:
df = pd.read_csv('stock_data.csv', na_values={
    'eps':["not available","n.a."],
    'revenue':["not available","n.a.",-1],
    'price':["not available","n.a."],
    'people':["not available","n.a."]
}) 
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

# **Write to CSV**

In [12]:
df.to_csv('new.csv', index= False)

In [13]:
df.to_csv('new.csv', header= False)

# **EXCEL**

In [15]:
df = pd.read_excel('stock_data.xlsx', 'Sheet1')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

**-> To convert the people name we create a funciton and call it**

In [28]:
def convert_people_cell(cell):
    if cell == "n.a.":
        return "sam walton"
    else:
        return cell

def convert_eps_cell(cell):
    if cell == "not available":
        return None
    else:
        return cell

df = pd.read_excel('stock_data.xlsx', 'Sheet1', converters={
    'people':convert_people_cell,
    'eps':convert_eps_cell
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [29]:
df.to_excel("new.xlsx", sheet_name="stocks", startrow = 1, startcol= 2, index= False)

In [30]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [33]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name= "stocks", index= False)
    df_weather.to_excel(writer, sheet_name= "weather", index= False)